<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="manifest.json">

  <link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <title>Crown Group Restaurant</title>
</head>

<body>

  <header class="header" id="header">

    <nav class="nav container">
      <a href="#" class="nav__logo">Tasty</a>

      <button class="nav__button" type="menu" aria-label="Open the menu" aria-expanded="false">
        <span class="nav__button__bar"></span>
        <span class="nav__button__bar"></span>
        <span class="nav__button__bar"></span>
      </button>

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/" class="nav__link active-link">Home</a></li>
          <li class="nav__item"><a href="#/favorite" class="nav__link">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/bayujuara01" target="_blank" rel="noopener"
              class="nav__link">About Us</a></li>

          <!-- <li><i class='bx bx-moon change-theme' id="theme-button"></i></li> -->
        </ul>
      </div>
    </nav>

  </header>

  <main class="main">

  </main>

  <!--========== FOOTER ==========-->
  <footer class="footer section container">


    <p class="footer__copy">&#169; 2020 Bayujuara01. All right reserved</p>
  </footer>

  <script src="https://unpkg.com/scrollreveal"></script>
</body>

</html>