<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <title>Crown Group Restaurant</title>
</head>

<body>

  <header class="header" id="header">

    <navigation-bar></navigation-bar>

  </header>

  <main class="main">
    <!--========== HOME ==========-->
    <section class="home" id="home">
      <div class="home__container container grid">
        <div class="home__data">
          <h1 class="home__title">Tasty food</h1>
          <h2 class="home__subtitle">Try the best food of <br> the week.</h2>
          <a href="#" class="button">View Menu</a>
        </div>

        <img src="/images/home.png" alt="" class="home__img">
      </div>
    </section>

    <!--========== ABOUT ==========-->
    <section class="about section container" id="about">
      <div class="about__container  grid">
        <div class="about__data">
          <span class="section-subtitle about__initial">About us</span>
          <h2 class="section-title about__initial">We cook the best <br> tasty food</h2>
          <p class="about__description">We cook the best food in the entire city, with excellent customer service, the
            best meals and at the best price, visit us.</p>
          <a href="#" class="button">Explore history</a>
        </div>

        <img src="/images/about.jpg" alt="" class="about__img">
      </div>
    </section>

    <!--========== SERVICES ==========-->
    <section class="services section container" id="services">
      <span class="section-subtitle">Offering</span>
      <h2 class="section-title">Our amazing services</h2>

      <div class="services__container  grid">
        <div class="services__content">
          <img class="services__img" src="/vectors/services-eat-plate.svg" />
          <h3 class="services__title">Excellent food</h3>
          <p class="services__description">We offer our clients excellent quality services for many years, with the best
            and delicious food in the city.</p>
        </div>

        <div class="services__content">
          <img class="services__img" src="/vectors/services-fast-food.svg" />
          <h3 class="services__title">Fast food</h3>
          <p class="services__description">We offer our clients excellent quality services for many years, with the best
            and delicious food in the city.</p>
        </div>

        <div class="services__content">
          <img class="services__img" src="/vectors/services-delivery.svg" />
          <h3 class="services__title">Delivery</h3>
          <p class="services__description">We offer our clients excellent quality services for many years, with the best
            and delicious food in the city.</p>
        </div>
      </div>
    </section>

    <!--========== RESTO ==========-->
    <section class="resto section container" id="resto">
      <span class="section-subtitle">Special</span>
      <h2 class="section-title">Resto of the week</h2>

      <div class="resto__container grid">
        <div class="resto__content">
          <img src="/images/plate1.png" alt="" class="resto__img">
          <h3 class="resto__name">Barbecue salad</h3>
          <span class="resto__detail">Delicious dish</span>
          <span class="resto__preci">$$$$$</span>
          <a href="#" style="background-color: var(--primary-color); color: white" class="button resto__button"><i
              class='bx bx-cart-alt'></i></a>
        </div>

        <div class="resto__content">
          <img src="/images/plate1.png" alt="" class="resto__img">
          <h3 class="resto__name">Glory Resto</h3>
          <span class="resto__detail">Bandung</span>
          <span class="resto__preci">$$$$$</span>
          <a href="#" class="button resto__button"><i class='bx bx-cart-alt'></i></a>
        </div>

        <div class="resto__content">
          <img src="/images/plate1.png" alt="" class="resto__img">
          <h3 class="resto__name">Spinach salad</h3>
          <span class="resto__detail">Delicious dish</span>
          <span class="resto__preci">$$$$$</span>
          <a href="#" class="button resto__button"><i class='bx bx-cart-alt'></i></a>
        </div>

        <div class="resto__content">
          <img src="/images/plate1.png" alt="" class="resto__img">
          <h3 class="resto__name">Spinach salad</h3>
          <span class="resto__detail">Delicious dish</span>
          <span class="resto__preci">$$$$$</span>
          <a href="#" class="button resto__button"><i class='bx bx-cart-alt'></i></a>
        </div>

        <div class="resto__content">
          <img src="/images/plate1.png" alt="" class="resto__img">
          <h3 class="resto__name">Spinach salad</h3>
          <span class="resto__detail">Delicious dish</span>
          <span class="resto__preci">$$$$$</span>
          <a href="#" class="button resto__button"><i class='bx bx-cart-alt'></i></a>
        </div>
      </div>
    </section>

    <!--========== MENU ==========-->
    <section class="menu section container" id="menu">
      <span class="section-subtitle">Special</span>
      <h2 class="section-title">Menu of the week</h2>

      <div class="menu__container grid">
        <div class="menu__content">
          <img src="/images/plate1.png" alt="" class="menu__img">
          <h3 class="menu__name">Barbecue salad</h3>
          <span class="menu__detail">Delicious dish</span>
          <span class="menu__preci">$22.00</span>
          <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
        </div>

        <div class="menu__content">
          <img src="/images/plate1.png" alt="" class="menu__img">
          <h3 class="menu__name">Salad with fish</h3>
          <span class="menu__detail">Delicious dish</span>
          <span class="menu__preci">$12.00</span>
          <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
        </div>

        <div class="menu__content">
          <img src="/images/plate1.png" alt="" class="menu__img">
          <h3 class="menu__name">Spinach salad</h3>
          <span class="menu__detail">Delicious dish</span>
          <span class="menu__preci">$9.50</span>
          <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
        </div>
      </div>
    </section>

    <!--===== APP =======-->
    <section class="app section container">
      <div class="app__container grid">
        <div class="app__data">
          <span class="section-subtitle app__initial">App</span>
          <h2 class="section-title app__initial">App is aviable</h2>
          <p class="app__description">Find our application and download it, you can make reservations, food orders, see
            your deliveries on the way and much more.</p>
          <div class="app__stores">
            <a href="#"><img src="/images/app2.png" alt="" class="app__store"></a>
            <a href="#"><img src="/images/app2.png" alt="" class="app__store"></a>
          </div>
        </div>

        <img src="/images/movil-app.png" alt="" class="app__img">
      </div>
    </section>
  </main>

  <!--========== FOOTER ==========-->
  <footer class="footer section container">
    <div class="footer__container grid">
      <div class="footer__content">
        <a href="#" class="footer__logo">Tasty Food</a>
        <span class="footer__description">Restaurant</span>
        <div>
          <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
          <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
          <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
        </div>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Services</h3>
        <ul>
          <li><a href="#" class="footer__link">Delivery</a></li>
          <li><a href="#" class="footer__link">Pricing</a></li>
          <li><a href="#" class="footer__link">Fast food</a></li>
          <li><a href="#" class="footer__link">Reserve your spot</a></li>
        </ul>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Information</h3>
        <ul>
          <li><a href="#" class="footer__link">Event</a></li>
          <li><a href="#" class="footer__link">Contact us</a></li>
          <li><a href="#" class="footer__link">Privacy policy</a></li>
          <li><a href="#" class="footer__link">Terms of services</a></li>
        </ul>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Adress</h3>
        <ul>
          <li>Lima - Peru</li>
          <li>Jr Union #999</li>
          <li>999 - 888 - 777</li>
          <li>tastyfood@email.com</li>
        </ul>
      </div>
    </div>

    <p class="footer__copy">&#169; 2020 Bayujuara01. All right reserved</p>
  </footer>

  <script src="https://unpkg.com/scrollreveal"></script>
</body>

</html>