$media_queries: (
  'mobile': screen and
    (
      min-width: 576px
    ),
  'only-mobile': screen and
    (
      max-width: 576px
    ),
  'tablet': screen and
    (
      min-width: 576px
    ),
  'tablet-horizontal': screen and
    (
      min-width: 768px
    ),
  'only-tablet': screen and
    (
      max-width: 768px
    ),
  'desktop': screen and
    (
      min-width: 960px
    ),
  'desktop-lg': screen and
    (
      min-width: 1240px
    ),
  'mobile-desktop-y': screen and
    (
      min-height: 721px
    )
);

@mixin breakpoint($breakpoints) {
  $conditions: ();
  @each $bp in $breakpoints {
    $conditions: append(
      $conditions,
      #{inspect(map-get($media_queries, $bp))},
      comma
    );
  }

  @media #{$conditions} {
    @content;
  }
}
