$primary-color: #069c54;
$secondary-color: #048654;
$black-title: #393939;
$black-text: #707070;
$light-text: #a6a6a6;
$body-color: #fbfefd;
$container-color: #fff;

$dark-title-color: #f1f3f2;
$dark-text-color: #c7d1cc;
$dark-body-color: #1d2521;
$dark-container-color: #27302c;
