.menu {
  @include breakpoint('desktop-lg') {
    width: 80%;
    margin: 0 auto;
  }
}

.resto-body {
  display: flex;
  flex-wrap: wrap;
}

.resto__title {
  font-size: 2rem;
  margin: 2.4rem 0 0 1.2rem;

  @include breakpoint('only-mobile') {
    text-align: center;
  }
}
