footer {
  background-color: $orange-accent-primary;
  padding: 0.1rem;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
  }
}
